/* client/src/index.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Our Global Base Styles --- */
@layer base {
  body {
    @apply bg-bg-dark text-text-primary font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading text-text-primary;
  }
}